@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Source+Code+Pro&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 768px) {
    @keyframes navOpacityOn {
        from {
            opacity: 0;
        }
        50%{
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes navOpacityOff{
        from{
            opacity: 1;
        }
        to{
            opacity: 0;
        }
    }
}
body{
    font-family: 'Chivo Mono', monospace;
    background-color: black;
    color: white;
}
p{
    font-family: 'Source Code Pro', monospace;
}
h1{
    font-family: 'Barlow Condensed', sans-serif;
}
.active{
    color:#B2EF01;
}

