@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes navOpacityOn {
    from {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes navOpacityOff{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
